@import "tailwindcss";

/* For Webkit browsers like Chrome, Safari */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: #202020;
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
}